/vendor
/node_modules
/.idea
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.vscode/

/storage/*.key
/storage/post

/public/css/
/public/fonts/
/public/js/
/public/mix-manifest.json
/composer.lock
/package-lock.json
