//font size

$colorPrimary: #52768e;
$colorPrimaryDark:  darken($colorPrimary,10%);
$colorPrimaryDarkTransparent: rgba($colorPrimary, 0.25);
$colorAccent: #c76c0c;
$widgetHeaderBgColor: #F5F8FA;

$widgetPaddingLeftRight: 20px;
$postItemPaddingLeftRight: 25px;
$postItemPaddingUpDown: 20px;

$shadowColor: #666666;
$shadowBlur: 1px;

$footerHeight: 60px;

$userProfileHeight: 150px;
$userAvatarRadius: 45px;

$metaColor: #959595;

/* bootstrap*/
$brand-primary: $colorPrimary;
//$body-bg: #eee;
$body-bg: #eee;

/*code*/
$codeBg: #fafafa;

$codeColor: #383a42;